LighTake.MQS/MQS_Tests/Service References/LtQueueService/LtQueue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LighTake.MQS.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LighTake.MQS.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueueModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueModel" nillable="true" type="tns:QueueModel" />
</xs:schema>