LighTake.MQS/MQS_Tests/Service References/LtQueueService/LtQueue1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25058/LtQueue.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LighTake.MQS.Dto" />
  <xs:element name="Enqueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnqueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LighTake.MQS.Dto" minOccurs="0" name="EnqueueResult" nillable="true" type="q1:QueueModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dequeue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DequeueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LighTake.MQS.Dto" minOccurs="0" name="DequeueResult" nillable="true" type="q2:QueueModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LighTake.MQS.Dto" minOccurs="0" name="QueueLengthResult" nillable="true" type="q3:QueueModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>