LMS.Client.SubmitOrder/Service References/RefAPI.TrackNumber/TrackNumberAssign.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16103/TrackNumberAssign.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LMS.WCF.TrackNumber.Dto" />
  <xs:element name="TrackNumberAssignStandard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shippingMethodId" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackNumberAssignStandardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LMS.WCF.TrackNumber.Dto" minOccurs="0" name="TrackNumberAssignStandardResult" nillable="true" type="q1:ResutlInfoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>