LMS.Services/LMS.Services.UserServices/Service References/PMSServiceReference/PMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.5.186:901/PMS.WcfService/PMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.5.186:901/PMS.WcfService/PMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.5.186:901/PMS.WcfService/PMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMS.WcfService" />
      <xsd:import schemaLocation="http://192.168.5.186:901/PMS.WcfService/PMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PMS.WcfService.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPMSService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IPMSService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPMSService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IPMSService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPMSService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IPMSService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPMSService_ModifyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUser" />
  </wsdl:message>
  <wsdl:message name="IPMSService_ModifyUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPMSService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IPMSService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPMSService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IPMSService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPMSService_GetPermissionsBySystemCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissionsBySystemCode" />
  </wsdl:message>
  <wsdl:message name="IPMSService_GetPermissionsBySystemCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissionsBySystemCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPMSService">
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMSService/UserLogin" message="tns:IPMSService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMSService/UserLoginResponse" message="tns:IPMSService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMSService/GetUser" message="tns:IPMSService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMSService/GetUserResponse" message="tns:IPMSService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMSService/AddUser" message="tns:IPMSService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMSService/AddUserResponse" message="tns:IPMSService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMSService/ModifyUser" message="tns:IPMSService_ModifyUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMSService/ModifyUserResponse" message="tns:IPMSService_ModifyUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMSService/DeleteUser" message="tns:IPMSService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMSService/DeleteUserResponse" message="tns:IPMSService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMSService/GetUserInfo" message="tns:IPMSService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMSService/GetUserInfoResponse" message="tns:IPMSService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermissionsBySystemCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMSService/GetPermissionsBySystemCode" message="tns:IPMSService_GetPermissionsBySystemCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMSService/GetPermissionsBySystemCodeResponse" message="tns:IPMSService_GetPermissionsBySystemCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPMSService" type="tns:IPMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IPMSService/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IPMSService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IPMSService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <soap:operation soapAction="http://tempuri.org/IPMSService/ModifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IPMSService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IPMSService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionsBySystemCode">
      <soap:operation soapAction="http://tempuri.org/IPMSService/GetPermissionsBySystemCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PMSService">
    <wsdl:port name="BasicHttpBinding_IPMSService" binding="tns:BasicHttpBinding_IPMSService">
      <soap:address location="http://192.168.5.186:901/PMS.WcfService/PMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>