LighTake.Infrastructure/LighTake.Infrastructure.Common.BizLogging/Service References/BizLogWcf/API31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bizlog.yunpost.cn/API.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LighTake.BizLog.Services.Dto" />
  <xs:element name="WriteLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LighTake.BizLog.Services.Dto" minOccurs="0" name="log" nillable="true" type="q1:BizLogModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LighTake.BizLog.Services.Dto" minOccurs="0" name="logs" nillable="true" type="q2:ArrayOfBizLogModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LighTake.BizLog.Services.Dto" minOccurs="0" name="filter" nillable="true" type="q3:BizLogFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LighTake.BizLog.Services.Dto" minOccurs="0" name="QueryLogResult" nillable="true" type="q4:ArrayOfBizLogModel" />
        <xs:element minOccurs="0" name="totalRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>