LighTake.Infrastructure/LighTake.Infrastructure.Common.BizLogging/Service References/BizLogWcf/API3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LighTake.BizLog.Services.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LighTake.BizLog.Services.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BizLogModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeywordTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="LogID" type="xs:long" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BizLogModel" nillable="true" type="tns:BizLogModel" />
  <xs:complexType name="ArrayOfBizLogModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BizLogModel" nillable="true" type="tns:BizLogModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBizLogModel" nillable="true" type="tns:ArrayOfBizLogModel" />
  <xs:complexType name="BizLogFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateOnEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateOnStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeywordTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BizLogFilter" nillable="true" type="tns:BizLogFilter" />
</xs:schema>