LMS.Services/LMS.Services.TrackingNumberServices/Service References/RefAPI.TrackNumber/TrackNumberAssign2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LMS.WCF.TrackNumber.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LMS.WCF.TrackNumber.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16103/TrackNumberAssign.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ResutlInfoOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResutlInfoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/LMS.WCF.TrackNumber.Dto" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResutlInfoOfstring" nillable="true" type="tns:ResutlInfoOfstring" />
</xs:schema>